<p>TRIPS WORKS</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="cards" *ngIf="!selected ">


    <div class="card h-100" *ngFor="let trip of trips">

      <img
        [src]="trip.imageUrl"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{trip.name}}</h5>
        <p class="card-text">
   {{trip.description}}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  </div>
</div>
